.home-else
{
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

@keyframes fade-in
{
    from { opacity: 0; }
    to { opacity: 1; }
}

ul
{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}
  
li
{
    margin: 0 10px;
}
  
a
{
    text-decoration: none;
    color: gray;
}